<app-generic-list [elements]="movies">
  <ng-container content>
    <button mat-flat-button (click)="addMovie()">
      <mat-icon>add</mat-icon>
      Add Movie
    </button>
    @for(movie of movies; track $index) {
      <div class ="movies-container">
        <div>
          @if(movie.poster) {
            <img [ngSrc]="movie.poster" [priority]="$index === 0" width="169" height="250" />
          } @else {
            <img src="assets/image_placeholder.jpg" width="169" height="250" />
          }
        </div>
        <div>
          <div>
        {{$index + 1}}) Movie: <b>{{movie.title | uppercase}}</b>
        </div>
        <div>
          Release Date: {{movie.releaseDate | date:"MMMM-dd-yyyy" | uppercase}}
        </div>
        <div>
          Price: {{movie.price | currency}}
        </div>
        <div>
          <button (click)="removeMovie(movie)">Remove</button>
        </div>
        </div>

      </div>
    }
  </ng-container>
</app-generic-list>

